<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix - Clone</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <nav class="navbar">
            <img src="img/img.png" alt="" srcset="">
            <button class="btn"><a href="/signIn">Sign in</a></button>
            <select name="language" id="language">
                <option value="Eng" selected>English</option>
                <option value="Hin">Hindi</option>
            </select>
        </nav>
        <div class="info">
            <h2>Unlimited movies, TV shows and <br> more.</h2>
            <div class="para">
                <p>Watch anywhere. Cancel anytime.</p>
                <p>Ready to watch? Enter your email to create or restart your membership.</p>
                <input type="email" name="email" placeholder="Email address">
                <button class="btn1">Get Started ></button>
            </div>
        </div>
        <div class="cards">
            <div class=" boxes box-1">
                <img src="img/img1.png" alt="" srcset="">
                <h1>Enjoy on your TV.</h1>
                <p>Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p>
            </div>
            <div class="boxes box-2">
                <img src="img/img2.png" alt="" srcset="">
                <h1>Watch everywhere.</h1>
                <p>Stream unlimited movies and TV shows on your phone, tablet, laptop and TV.</p>
            </div>
            <div class="boxes box-3">
                <img src="img/img3.png" alt="" srcset="">
                <h1>Create profiles for children.</h1>
                <p>Send children on adventures with their favourite characters in a space made just for them—free with
                    your membership.</p>
            </div>
            <div class="boxes box-4">
                <img src="img/img4.png" alt="" srcset="">
                <h1>Download your shows to watch offline.</h1>
                <p>Save your favourites easily and always have something to watch.</p>
            </div>
        </div>
    </div>
</body>

</html>