<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="css/signUp.css">
</head>

<body>
    <navbar class="nav">
        <img src="img/img.png" alt="" srcset="">
        <button class="btn"><a href="/signIn">Sign In</a></button>
    </navbar>
    <hr>
    <div class="signUp">
        <h1>Welcome back!</h1>
        <h1>Joining Netflix is easy.</h1>
        <form action="/signUp"method="post">
            <input type="email" name="email"id="email"placeholder="Enter your email">
            <input type="password" name="password"id="password"placeholder="Enter your Password">
            <button class="btn1">Sign up</button>
        </form>
    </div>
</body>

</html>