<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="css/signIn.css">
</head>

<body>
    <div class="SignIn">
        <h1>Sign In</h1>
        <form class = "box"action="/signIn"method="post">
            <input type="email" name="email" id="email" placeholder="Email or phone number">
            <input type="password" name="password" id="password" placeholder="Password">
            <button class="btn">Sign In</button>
        </form>
        <div class="text">
            <p>New to Netflix? <a href="/signUp">Sign up now.</a></p>
        </div>
    </div>
</body>

</html>